{% macro render_user_table(users, class='') %}
<table class='{{ class }}'>
    <thead>
        <tr>
            <td>#</td>
            <td>Käyttäjänimi</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('user.profile', user_id=user.id) }}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    {% if pagination.pages > 1 %}
        <div class='pagination'>
            <ul>
                <li class="prev {% if not pagination.has_prev %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page-1) }}">&larr; Previous</a></li>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        <li class='{% if page == pagination.page %}active{% endif %}'>
                            <a href='{{ url_for(endpoint, page=page) }}'>{{ page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href='#'>...</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="next {% if not pagination.has_next %}disabled{% endif %}"><a href="{{ url_for(endpoint, page=pagination.page+1) }}">Next &rarr;</a></li>
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_post_table(posts, page, user, class='') %}
<div class='{{ class }}'>
    {% for post in posts %}
    <div class="well">
        {% if user and post.author.name==user.name  %}
        <a href="{{ url_for('blogpost.destroy', post_id=post.id) }}"><i class="icon-remove icon-2x pull-right" style="color:#777777"></i></a>
        <a href="{{ url_for('blogpost.edit', post_id=post.id) }}"><i class="icon-edit icon-2x pull-right" style="color:#777777"></i></a>
        {% endif %}
        <h3>{{ loop.index + (page*10-10) }}: <a href="{{ url_for('blogpost.show', post_id=post.id) }}">{{ post.headline }}</a>
        {% for tag in post.tags %}
            <a href="{{ url_for('tag.edit', tag_id=tag.id) }}"><span class="label label-success" title="">{{ tag.tag_name }}</span></a>
        {% endfor %}
        </h3>
        <p>{{ post.body[:160] }} ...</p>
    </div>
    {% endfor %}
</div>
{% endmacro %}