{% from 'macros/_misc.html' import render_pagination, render_user_table %}

{% extends 'layouts/base.html' %}

{% if keywords %}
    {% set page_title = _('Hakutulokset haulle: "%(keywords)s"', keywords=keywords) %}
{% else %}
    {% set page_title = _('Anna hakuehto!') %}
{% endif %}

{% block body %}
    {% if pagination and pagination.pages > 0 %}
        <!-- <p>{% trans total=pagination.total, keywords=keywords %}<strong>{{ total }}</strong> tulosta löytyi haullesi "<strong>{{ keywords }}</strong>".{% endtrans %}</p> -->
        <!-- {{ render_user_table(pagination.items, 'zebra-striped') }}
        {{ render_pagination(pagination, 'frontend.search') }} -->
    {% else %}
        <p>{% trans keywords=keywords %}Ei löytynyt tuloksia "<strong>{{ keywords }}</strong>".{% endtrans %}</p>
    {% trans %}
    <p>Suggestions:</p>
    <ul>
       <li>Make sure all words are spelled correctly.</li>
       <li>Try different keywords.</li>
       <li>Try more general keywords.</li>
    </ul>
    {% endtrans %}
    {% endif %}
{% endblock %}
